.content {
  position: relative;
}
.screen {
  display: block;
  width: 20vw;
  height: 25vh;
  overflow: hidden;
  position: relative;
  /* margin: 0 auto; */
}
.screen img {
  top: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 3s;
  -moz-transition: top 3s;
  -ms-transition: top 3s;
  -o-transition: top 3s;
  transition: top 3s;
}
.screen:hover img {
  top: -100%;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -ms-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}
